nav {
    border: 1px solid rgb(23, 54, 27);
    border-collapse: collapse;
    border: 1px solid rgb(23, 54, 27);
    margin: .5em auto;
    background-color: rgb(76, 209, 136);
}
img {
    width: 35%;
    object-fit: contain;
    padding: 5em;
}
h1 {
    border: 1px solid rgb(23, 54, 27);
    border-collapse: collapse;
    border: 1px solid rgb(23, 54, 27);
    margin: .5em auto;
    background-color: rgb(76, 209, 136);
}
html {
    background-color: rgba(120, 206, 159, 0.315);
}
/*Adds the border around the table*/
table {
    border: 1px solid black;
    border-collapse: collapse;
    border: 1px solid black;
    margin: .5em auto;
}
/*Adds border around the content*/
th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: right; 
    & left {
        text-align: left;
    }
}
/*creates green background inside of the thead*/
thead {
    background-color: rgb(119, 197, 158);
}
/*aligns content of tbody to the right and left*/
tbody { 
        border: 1px black;
    padding: .2em .7em;
    text-align: right; 
    & left {
        text-align: left;
    }

}
/*Centers the text inside of thead*/
th:first-child, td:first-child {
    text-align: center;
}
th:nth-child(2), td:nth-child(2) {
    text-align: center;
}
/*Changes background to silver on all even tbody*/
tbody tr:nth-child(even) {
    background-color: silver;
}