nav {
    border: 1px solid rgb(23, 54, 27);
    border-collapse: collapse;
    border: 1px solid rgb(23, 54, 27);
    margin: .5em auto;
    background-color: rgb(76, 209, 136);
}
img {
    width: 35%;
    object-fit: contain;
    padding: 5em;
}